<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>music</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    {{form.as_p}}
      <p>* choose any one only private or public or protected</p>

      Is private:<input type="checkbox" name="is_private"><br><br>
      Is protected:<input type="checkbox" name="is_protected"><br><br>
      <p>enter emails only if is protected is checked</p>
      <div id="add-input">
          <input type="email" name="has_access0">
          <p></p>
      </div>
      <button type="button" onclick="addInput()">add another mail</button><br><br>
    <input id="submit" name="submit-btn" type="submit" onclick="returnCount()">
  </form>
    <script>
        const container=document.getElementById('add-input');
        var count=1;
        function addInput() {
        let input=document.createElement('input');
        input.name=`has_access${count}`;
        input.type="email";
        count++;
        container.appendChild(input);
        }

        function returnCount() {
            document.getElementById("submit").value=count;
        }
    </script>
</body>
</html>